/* CSS Reset */

/* Box-sizing border-box for all elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove margin and padding for all elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

/* Set default font styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Remove list styles */
ol,
ul {
    list-style: none;
}

/* Remove underline from links */
a {
    text-decoration: none;
}

/* Reset form elements */
button,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    vertical-align: middle;
    outline: none;
    appearance: none;
}

/* Set a default width for images */
img {
    max-width: 100%;
    height: auto;
}

/* Additional Reset Styles */

/* Optionally add your own custom reset styles here */

/* End of CSS Reset */


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../public/3028327.jpg');
    background-size: cover;
    background-position: center;
}

.acudit-title{
    margin-top: 30px;
}

.acudits {
    width: 40vw;
    height: auto;
    background-color: #fff;
    border: 1px solid rgba(0, 123, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 10px;

    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}


.typewrite {
    width: auto;
    height: 100px;
    margin: 50px 100px;
    display: none;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: larger;
}

.acudit-btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    background-color: rgb(0, 123, 255);
    color: #ffffff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 30px;
}

.acudit-btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.acudit-btn:active {
    background-color: #00397a;
    transform: translateY(1px);
}

.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* left: 0; */
    bottom: calc(20px + env(safe-area-inset-bottom));
    width: 20vw;
    height: 30px;
    background: rgba(255, 255, 255, .4);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.jokeRating{
    display: none;
    gap: 20px;
    font-size: 3rem;
}